<!DOCTYPE html>
<html>
<head>
	<%- include ./partials/header.ejs %>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  	<!-- Display flash messages  -->
		<% if (flash && flash.message && flash.message.length > 1) { %>
			 <div class="alert alert-<%=flash.type%> alert-dismissable">
					 <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					 <strong><%= flash.intro %></strong> <%= flash.message %>
				 </div>
		<% } %>
		<!-- Render the signup form  -->
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
		      <form action="/signup" method="post">
		        <h2 class="form-signin-heading">Please Enter the following information to sign up:</h2>
		        <label for="email" class="sr-only">Email address</label>
		        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
		        <label for="password" class="sr-only">Password</label>
		        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		      </form>
			</div>
			</div>

	    </div> <!-- /container -->



	<!-- Render the OAuth authentication links
	<a href="/oauth/facebook">Sign in with Facebook</a>
	<a href="/oauth/twitter">Sign in with Twitter</a>
	<a href="/oauth/google">Sign in with Google</a>
-->

<%- include ./partials/footer.ejs %>

</body>
</html>
